
:root {
    --primary-color: rgb(183, 88, 153);
    --dark-color: #1d1d1d;
    --gray-color: #9e9e9e;
    --light-bg:  rgba(255, 234, 247, 0.4);
    --background: rgba(255, 234, 247, 0.4);
}
body{
    background-color:rgba(255, 234, 247, 0.4) ;
}
.h1{
    font-size: clamp(30px, 7vw, 50px);
    line-height: 1.1;
    margin-bottom: 1rem;
    width: 100%;
    font-weight: 600;
    padding-left: 0;
    font-family: 'Playfair Display', serif;
    color: #b75899;
    padding-top: 30px;
}
.tagline{
    font-size: clamp(12px, 1.2vw, 16px);
    letter-spacing: 2px;
    color: var(--gray-color);
    font-weight: 600;
    padding-left: 0;
    font-family: 'Montserrat', sans-serif;
}
.card-body1 {

    margin-top: 40px;
}
.card-body2 {
    box-shadow: 0 0 20px rgb(183, 88, 153);
    border: none;
}
.contact{
    background:white ;
}
.cta-section h2{
    font-size: 40px;
}
.cta-section input{
    border-radius: 20px;
    border: none;
    padding: 15px;
    box-shadow: 0 0 20px rgb(190, 144, 175);
}
.h2style{
    padding-left: 10px;
}
.section1{
    background: white;
    margin-top: 200px;
    height: fit-content;
}
.comment{
    box-shadow: 0 0 20px rgb(190, 144, 175);
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}
.button{
    border: none;
    background: white;
    color: #b75899;
    padding-top: 20px;
    padding-right: 20px;
}